.container {width: 580px}

.fd-1 {width: 50px; height: 50px; color: white; background-color: red; text-align: center;}
.fd-2 {width: 50px; height: 50px; color: white; background-color: blue; text-align: center;}
.fd-3 {width: 50px; height: 50px; color: white; background-color: green; text-align: center;}
.fd-4 {width: 50px; height: 50px; color: white; background-color: rebeccapurple; text-align: center;}
.fd-5 {width: 50px; height: 50px; color: white; background-color: orchid; text-align: center;}

.fd {width: 580px; display: flex; justify-content: space-between; margin-top: 50px;}
.fd-rev{ display: flex; justify-content: space-between; flex-direction: row-reverse; margin-top: 20px; margin-bottom: 50px;}

.fdcol-1 {width: 250px; height: 50px; color: white; background-color: red; text-align: center;}
.fdcol-2 {width: 250px; height: 50px; color: white; background-color: blue; text-align: center;}
.fdcol-3 {width: 250px; height: 50px; color: white; background-color: green; text-align: center;}
.fdcol-4 {width: 250px; height: 50px; color: white; background-color: rebeccapurple; text-align: center;}
.fdcol-5 {width: 250px; height: 50px; color: white; background-color: orchid; text-align: center;}

.fd-col {margin-top: 30px;}
.fd-col1 {margin-top: 30px; display: flex; flex-direction: column-reverse;}
.fd-col-2col {width: 580px; display: flex; justify-content: space-between; margin-bottom: 30px;}


.fwrap-cont{display: flex; justify-content: space-between; width: 1000px; margin-top: 30px;}
.fd-wrap{display: flex; justify-content: space-between;}
.fd-wrap1{display: flex; justify-content: space-between; flex-wrap: wrap; width: 150px;}
.fd-wrap2{display: flex; justify-content: space-between; flex-wrap: wrap; width: 300px;}

.fd-11 { align-self: center; width: 50px; height: 50px; color: white; background-color: red; text-align: center;}
.fd-13 { align-self: center; width: 50px; height: 50px; color: white; background-color: red; text-align: center;}
.fd-15 { align-self: center; width: 50px; height: 50px; color: white; background-color: red; text-align: center;}

.flex-align-self {padding-left: 780px;}
.ph2 {font-size: 20px;}
.base img { vertical-align: baseline;}
.vat img {vertical-align: top;}
.vatb img {vertical-align: bottom;}

